<a href="https://colab.research.google.com/github/atakanerdogn/30-Days-Of-Python/blob/master/sololearn_mimo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
books = ['Harry Potter','Dune', 'Emma']
try:
  print(books[5])
except IndexError:
  print("Out of range")
finally:
  print("Happy reading!")

Out of range
Happy reading!

In [ ]:
product ="TV":
try:
  print(product)
except:
  print("Error")

SyntaxError: invalid syntax (<ipython-input-7-3b1ba323d51a>, line 1)

In [ ]:
def shout(text):
  return text.upper()
yell = shout
print(yell("Hello"))

HELLO

In [ ]:
def order(dish):
  return "Your order: " + dish

def process_order(dish,func):
  print(func(dish))

In [ ]:
fruits = ["apple", "banana", "cherry", "elderebrry"]
fruits_filt = list(filter(lambda x: 'a' in x, fruits))

In [ ]:
class Car:
  def __init__(self, brand, color):
    self.brand = brand
    self.color = color

my_car = Car('Audi', 'yellow')
print(my_car)

<__main__.Car object at 0x7c66d94d8fd0>

In [ ]:
class Car:
  def __init__(self,brand,color):
    self.brand = brand
    self.color = color

  def honk(self):
    print("beep, beep!")

my_car = Car('Audi', 'Yellow')
my_car.honk()

beep, beep!

In [ ]:
class Animal:
  def __init__(self,name):
    self.name = name

  def move(self):
    print("Moving")

class Dog(Animal):
  def bark(self):
    print("Woof!")

my_dog = Dog("Bob")
print(my_dog.name)
my_dog.move()

my_dog.bark()

Bob
Moving
Woof!

In [ ]:
class Animal:
  def __init__(self,name):
    self.name = name

    def move(self):
      print("Moving")

class Dog(Animal):
    def __init__(self, name, breed, age):
      super().__init__(name)
      self.breed = breed
      self.age = age

      def bark(self):
        print("Woof!")

my_dog = Dog("Jax", "Bulldog", 5)
print(my_dog.breed)
print(my_dog.age)

Bulldog
5

In [ ]:
def __read_balance(self):
  print(self.balance)

In [ ]:
class Book:
  def __init__(self, title,author):
    self.title = title
    self.author = author

  def describe_book(self):
    print(self.title, 'by', self.author)

  @classmethod
  def books_in_series(cls,series_name,number_of_books):
    print('There are', number_of_books,'books in the', series_name, 'series')
my_book = Book('Harry Potter', 'J.K. Rowling')
my_book.describe_book()
Book.books_in_series('Harry Potter', 7)

In [ ]:
class SportsCar(Car):
  def __init__(self, make,model,top_speed):
    super().__init__(make,model)
    self.top_speed = top_speed

In [ ]:
from re import I
def total(numbers):
  result = 0
  for i in numbers:
    result += i
  return result

nums = [1,2,3,4,5]
print(total(nums))

15

In [ ]:
def sign_up(user):
  status = user + " signed up"
  return status

result = sign_up("ali")
print(result)

ali signed up

In [ ]:
a = input("Enter the mail: ")
def create_email(a):
  return a

email = create_email(a)
print(email)

#oyle bir program yaz ki, kisilerin maillerini otomatik olarak ayirsin hotmail gmail diye,

Enter the mail: atakan@outlook.com
atakan@outlook.com

In [ ]:
def sign_up(user):
  status = user + " signed up"
  return status

print(sign_up("Jo"))

Jo signed up

In [ ]:
def get_area(height):
  width = 26;
  return width * height

  print(f"Rechtangle area: {get_area(100)}");

In [ ]:
shipping = 20

def calculate_total(cart):
  print(cart + shipping)

calculate_total(64)

84

In [ ]:
def add_shipping(cart):
  if cart < 100:
    print(f"Total: {cart + shipping}")
  else:
    print(f"Total: {cart}")
  add_shipping(45)

In [ ]:
def display_programme(movies):
  print(f"Airing tonight: {movies}")

movie_list = ["Alien", "Moon"]
display_programme(movie_list)

Airing tonight: ['Alien', 'Moon']

In [ ]:
def display_programme(movies):
  print("Airing tonight:")
  print(movies)

movie_list = ["Alien", "Moon"]
display_programme(movie_list)

Airing tonight:
['Alien', 'Moon']

In [ ]:
def count_passengers(passengers):
  print(len(passengers))

passengers = ["Ali", "Veli", "Ahmet"]
count_passengers(passengers)

3

In [ ]:
def get_winner(top_players):
  winner = top_players[0]
  print(f"Game winner: {winner}")

top_players = ["Jay","Meg", "yaaramin cy"]
get_winner(top_players)

Game winner: Jay

In [ ]:
def update_first_place(leaderboard, player):
  leaderboard[0] = player
  return leaderboard

leaderboard = ["Jay","Meg", "yaaramin cy"]
update_first_place(leaderboard, "Ali")
print(leaderboard)

In [ ]:
def update_first_place(leaderboard, player):
  leaderboard[0] = player
  return leaderboard

leaderboard = ["Jay","Meg", "yaaramin cy"]
update_first_place(leaderboard, "Ali")
print(leaderboard)

## cokomelli >> how to pass a list into a fnction

In [ ]:
def set_initials(names, initial):
  names[0] = initial
  print(names)

author_names = ["Francis","Scott", "Fitzgerald"]
set_initials(author_names, "F.")

['F.', 'Scott', 'Fitzgerald']

In [ ]:
def onboard_passengers(bookings):
  counter = 1
  while counter <= bookings:
    print(f"Passenger {counter} on board")
    counter += 1

onboard_passengers(4)

Passenger 1 on board
Passenger 2 on board
Passenger 3 on board
Passenger 4 on board

In [ ]:
alarm_time = 7

def set_alarm():
  print(f"New alarm set for {alarm_time} AM")

set_alarm()

New alarm set for 7 AM

In [ ]:
def get_scores_data(scores_list):
  highest_score = max(scores_list)
  lowest_score = min(scores_list)
  return highest_score, lowest_score

In [ ]:
ticket = { "seat no": 25, "fitst class": False}
ticket["first class"] = True
print(ticket)

{'seat no': 25, 'fitst class': False, 'first class': True}

In [ ]:
participants = {
    "Meg": True,
    "Kim": False,
    "Luis": True,
    "Luis M.": False
}

meg = participants["Meg"]
print(meg)

True

In [ ]:
contents = {
    "ch.1": "A long expected paarty",
    "ch.2": "The shadow of the past",
    "ch.3": "Three is company"
}
for chapter in contents:
  print(contents[chapter])

In [ ]:
toppings = {
    "olives": True,
    "mushrooms": True,
    "onions": False,
    "extra cheese": False
}
toppings ["olives"] = False
print(toppings)

{'olives': False, 'mushrooms': True, 'onions': False, 'extra cheese': False}

In [ ]:
routine = {
    "squats": 40,
    "push ups": 10,
}
routine["lunges"] = 30
print(routine)

{'squats': 40, 'push ups': 10, 'lunges': 30}

In [ ]:
stock = {
    "dresses": 25,
    "t-shirts": 15,
    "skirts": 20
}
if "jeans" in stock:
  stock.pop("jeans")

print(stock)

{'dresses': 25, 't-shirts': 15, 'skirts': 20}

In [ ]:
scoops = {
    "vanilla": 2,
    "chocolate": 1,
    "strawberry": 5
}
vanilla = scoops.pop("vanilla")
print(vanilla)

2

In [ ]:
import statistics as st
scores = [4,5,6,7,8,9,0,7]
mean = st.mean(scores)
print(f"Mean: {mean}")

Mean: 5.75

In [ ]:
prices = [10,20,30,40,50]
halved = []

for price in  prices:
  half_price = price / 2
  halved.append(half_price)

print(halved)

#######################

prices = [10,20,30,40,50]
halved = [price / 2 for price in prices]
print(halved)

[5.0, 10.0, 15.0, 20.0, 25.0]
[5.0, 10.0, 15.0, 20.0, 25.0]

In [ ]:
def getDistance(mph, h):
  return mph * h

mph = 60
h = 2

distance = getDistance(mph, h)
print(getDistance)

<function getDistance at 0x7cdab80d43a0>

In [ ]:
# encapsulated code samples
#1
class Car:
  color = 'red'
  on = False
  def start(self):
    self.on = True

#2
class Person:
  name = `Mike`
  def greet(self):
    print(`Hi There!`)

In [ ]:
class Car:
  manufacturer = "Ferrari"
  model = 2019
  color = "red"